<!DOCTYPE html>
<html>
	<head>
		<title>EMMI</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" />
		<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Katso ja kommentoi</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div class="imageview row">	
						<div class="col-md-12">
							<img th:src="'/img/' + ${imageId}" class="img-responsive" alt="" />
							<span th:text="${caption}" />
						</div>
					</div>
					<div class="row">
						<div class="commentform col-md-4">
							<form th:action="'/view/' + ${imageId} + '/update'" method="post" role="form">
								<div class="form-group">
									<label for="name">Nimi</label>
									<input type="text" class="form-control" id="name" name="name"></input>
								</div>
								<div class="form-group">
									<label for="comment">Kommentti</label>
									<textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
								</div>
								<button type="submit" class="btn btn-default">Lähetä kommentti</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled" th:each="comment : ${comments}">
						<li><strong><span th:text="${comment.name} + ': '" /></strong>
						<span th:text="${comment.comment}" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>